$colores: (
    "verde": #00B33C,
    "blanco": #ffffff,
);

.background-lif{
    background-color: map-get($colores, "verde"); 
}

.blanco {
    color: map-get($colores, "blanco");
}

.green {
    color: map-get($colores, "verde");
}

.space {
    padding: 30px;
}

.justificar {
    text-align: justify;
}