$verde: #00B33C;

$blanco: white;

.background-lif{
    background-color: $verde; 
}

.blanco {
    color: $blanco;
}

.green {
    color: $verde;
}

.space {
    padding: 30px;
}

.justificar {
    text-align: justify;
}