
footer {
    background-color: map-get($colores, "verde");
    margin-top: 300px;
    color: map-get($colores, "blanco");
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 12px;

    a {
        &:link {
            @include footer-link;
        }
        &:visited {
            @include footer-link;
        }
        &:hover {
            @include hover-link
        }
    }
}